@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html {
    @apply box-border;
  }

  html,
  body {
    @apply h-full font-inter;
  }

  #__next {
    @apply h-full;
  }

  @font-face {
    font-family: 'AlternateGothic';
    src: url('/fonts/alternate-gothic-no1-d.ttf') format('truetype');
  }
}

@layer components {
  .my-slide {
    @apply bg-blue-200;
  }
}

.rdp-day_today:not(.rdp-day_outside) {
  @apply bg-primary text-white;
}

/* fix for react-beautiful-dnd when item dragged, item is out of position */
.drag-fix {
  top: auto !important;
  left: auto !important;
}
